.contenedor {
	width: 960px;
	margin: 0 auto;
}
/*SECCION 1*/
#seccion1 {
	background-color: rgba(255, 255, 255, 0.97) !important;
	box-shadow: 0 0 14px rgba(22, 22, 22, 0.4);
	height: 140px;
	margin-top: 0;
	position: fixed;
	text-align: left;
	width: 100%;
	z-index: 300;
}
#seccion1 header {
	height: 140px;
}
#seccion1 header .col1 {
	float: left;
	margin-left: 0;
	margin-top: 20px;
	width: 234px;
}
#seccion1 header .col2 {
	float: left;
	line-height: 22px;
	margin-left: 30px;
	margin-top: 27px;
	width: 510px;
}
#seccion1 header .col2 ul.menu li a {
	color: #525252;
	font-size: 12px;
	font-weight: bold;
}
#seccion1 header .col2 ul.menu li.active a {
	color: #DC7243;
}
#seccion1 header .col3 {
	float: left;
	margin-left: 70px;
	margin-top: 4px;
	width: 112px;
}
#seccion1 header .col3 ul.menu_topright li {
	float: left;
}
#seccion1 header .col3 ul.menu_topright li.separador_menu_top {
	font-size: 10px;
	margin-left: 6px;
	margin-right: 5px;
	margin-top: 4px;
}
#seccion1 header .col3 ul.menu_topright li a {
	color: #525252;
	font-size: 10px;
}
/*menu*/
#seccion1 header .col2 ul.menu {
	width: 90px;
}
#seccion1 header .col2 ul.menu > li ul {
	width: 200px;
}
#seccion1 header .col2 ul.menu li {
	position: relative;
}
#seccion1 header .col2 ul.menu li.active > ul li {
	padding-left: 14px;
}
#seccion1 header .col2 ul.menu li.active > ul li.active {
	background: url("../images/flecha_menu_activo.png") no-repeat scroll 0 6px transparent;
}
#seccion1 header .col2 ul.menu li.parent ul {
	display: none;
	left: 100px;
	line-height: 16px;
	position: absolute;
	top: 2px;
}
#seccion1 header .col2 ul.menu li.parent > ul li a,
#seccion1 header .col2 ul.menu li.parent > ul li a:ACTIVE {
	font-size: 11px;
	color: #DC7243;
}
/*SECCION 2*/
#seccion2 {
	/*
	background: url("../images/bg_seccion1.png") repeat-x scroll 0px 0px transparent;
	*/
	padding-top: 140px;	
}
#seccion2 .contenedor .wrap_ring {
	background: url("../images/home/ring/bg_ring.jpg") repeat-x 0 0 transparent;
	height: 376px;
	width: 960px;
}
#seccion2 .contenedor .wrap_ring > .col1 {
	width: 426px;
	height: 376px;
	float: left;
}
#seccion2 .contenedor .wrap_ring > .col1 #anillos {
	height: 332px;
	margin-left: 101px;
	margin-top: 40px;
	width: 318px;
}
#seccion2 .contenedor .wrap_ring > .col2 {
	background: url("../images/home/ring/bg_tabs_ring.jpg") no-repeat 494px 0px transparent;
	float: left;
	height: 376px;
	overflow: hidden;
	width: 534px;
}
/*
#seccion2 .contenedor .wrap_ring > .col2 .frase {
	color: #7C7C7C;
	width: 236px;
	font-size: 19px;
}
*/
/*inicio pagina |s*/
@font-face {
font-family: "Helvetica Neue";
src: url(../media/fonts/HelveticaNeue.ttf) format("truetype");
}
#seccion2 .contenedor .wrap_ring .col2 #fila1 p.parrafodesc {
	color: #747474;
	font-family: "Helvetica Neue",helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 15px 0;
	text-align: left;
	width: 460px;
}
/*fin pagina nosotros*/

@font-face {
font-family: "DINCond-Regular";
src: url(../media/fonts/DINCond-Regular.otf) format("truetype");
}
#seccion2 .contenedor .wrap_ring > .col2 .frase { 
	color: #7C7C7C;
	font-family: "DINCond-Regular",sans-serif;
	font-size: 19px;
	font-style: italic;
	position: absolute;
	top: 390px;
	width: 240px;
	
}

#seccion2 .contenedor .wrap_ring > .col2 .vFlotante {
	height: 94px;
	left: 494px;
	position: relative;
	top: 0;
	transition: all 1s ease 0s;
	width: 520px;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante.sl {
	height: 64px;
	padding-top: 30px;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante.dl {
    height: 84px;
    padding-top: 10px;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante a.text_tab {
	font-size: 27px;
	margin-left: 20px;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item1_ring {
	background-color: #009142;
}

#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item1_ring a {
	color: #9BEC8F;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante a {
	visibility: hidden;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante.active a {
	visibility: visible;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item2_ring a {
	color: #FCC87E;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item3_ring a {
	color: #FDFC91;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item4_ring a {
	color: #B5F7FD;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item2_ring {
	background-color: #FA653D;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item3_ring {
	background-color: #FCC62B;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante#item4_ring {
	background-color: #57B3D4;
}
#seccion2 .contenedor .wrap_ring > .col2 #item1_ring.vFlotante ul li a {
	color: #4C8643;
}
#seccion2 .contenedor .wrap_ring > .col2 #item2_ring.vFlotante ul li a {
	color: #FA653D;
}
#seccion2 .contenedor .wrap_ring > .col2 #item3_ring.vFlotante ul li a {
	color: #d99a02;
}
#seccion2 .contenedor .wrap_ring > .col2 #item4_ring.vFlotante ul li a {
	color: #57B3D4;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante ul li h5 {
	margin-bottom: 8px;
	color: #919191;
}
#seccion2 .contenedor .wrap_ring > .col2 .vFlotante ul li h5,
#seccion2 .contenedor .wrap_ring > .col2 li ul li a p.titu_menuring {
	font-size: 14px;
}
#seccion2 .contenedor .wrap_ring > .col2 li ul li a p.subtitu_menuring {
	color: #505050;
	font-size: 12px;
	margin-bottom: 6px;
	
}
/*sub menu ring*/
#seccion2 .contenedor .wrap_ring > .col2 ul#menuring .vFlotante ul {
	height: 260px;
	margin-left: 15px;
	position: relative;
	right: 330px;
	top: 80px;
	width: 300px;
	display: none;
}
/*
#seccion2 .contenedor > .col1 .vFlotante:HOVER {
	left: 743px;
}
*/
/*SECCION 3*/
#seccion3 .contenedor {
	margin-top: 2px;
}
#seccion3 .contenedor #contenido {
	height: 160px;
	background-color: #EFEFEF;
}
#seccion3 .contenedor #contenido > .col1 {
	width: 590px;
	float: left;
}
#seccion3 .contenedor #contenido > .col1 .boxarticulo {
	border-right: 1px solid #8C8C8C;
	height: 93px;
	margin-left: 120px;
	margin-top: 34px;
	color: #656565;
}
#seccion3 .contenedor #contenido .col1 .boxarticulo > .col1 {
	width: 190px;
	float: left;
}
#seccion3 .contenedor #contenido .col1 .boxarticulo h5 {
	font-size: 14px;
	font-weight: bold;
}
#seccion3 .contenedor #contenido .col1 .boxarticulo > .col1 p {
	font-size: 14px;
	width: 180px;
}
#seccion3 .contenedor #contenido .col1 .boxarticulo > .col2 p {
	margin-right: 17px;
	margin-top: -4px;
	text-align: right;
}
#seccion3 .contenedor #contenido .col1 .boxarticulo > .col2 {
	width: 160px;
	float: left;
}
#seccion3 .contenedor #contenido .col1 .boxarticulo > .col2 img {
	margin-left: 10px;
}
#seccion3 .contenedor #contenido .col1 .boxarticulo > .col2 a {
	font-size: 10px;
}
#seccion3 .contenedor #contenido > .col2 {
	width: 370px;
	float: left;
}
#seccion3 .contenedor #contenido > .col2 ul.menu_rightbelow {
	margin-left: 120px;
	margin-top: 25px;
	width: 250px;
}
#seccion3 .contenedor #contenido > .col2 ul.menu_rightbelow a {
	font-size: 16px;
	font-weight: bold;
	color: #F8733E;
}
#seccion3 .contenedor #contenido > .col2 ul.menu_rightbelow li {
	height: 54px;
	line-height: 36px;
	padding-left: 56px;
}
#seccion3 .contenedor #contenido > .col2 ul.menu_rightbelow li#item_soporte {
	background: url("../images/home/menu_icono_soporte.png") no-repeat 1px 1px transparent;
}
#seccion3 .contenedor #contenido > .col2 ul.menu_rightbelow li#item_foro {
	background: url("../images/home/menu_icono_foro.png") no-repeat 10px 1px transparent;
}
/*pagina nosotros*/
#seccion3 .contenedor #contenido #wrap_component_nosotros {
	font-size: 13px;
	color: #6eaae2;
}
#seccion3 .contenedor #contenido #wrap_component_nosotros .col1 h5 {
	font-weight: bold;
}
#seccion3 .contenedor #contenido #wrap_component_nosotros .col1 p {
}
/*SECCION 4*/
#seccion4 .contenedor {
	height: 32px;
	background-color: #929292;
	color: #FFFFFF;
}
#seccion4 .contenedor footer {
	font-size: 14px;
	line-height: 28px;
}
#seccion4 .contenedor footer .col1 {
	float: left;
	padding-left: 15px;
	width: 438px;
}
#seccion4 .contenedor footer .col2 {
	float: left;
	padding-left: 210px;
	width: 279px;
}
#seccion4 .contenedor footer .col2 ul#menu_footer {
}
#seccion4 .contenedor footer .col2 ul#menu_footer li {
	float: left;
	padding-left: 20px;
}
#seccion4 .contenedor footer .col2 ul#menu_footer li a {
	color: #FFFFFF;
}